/*classes*/
.smallnum
{
    border:Transparent;
    background-color: Transparent;
    position: relative;
    height: 35px;
    width: 65px;
    top: 3px;
    font-size: 40px;
    opacity: .6;
}
.mednum
{
    border:Transparent;
    background-color: Transparent;
    position: relative;
    height: 35px;
    width: 86px;
    top: 3px;
    font-size: 40px;
    opacity: .6;
}
.bignum
{
    border:Transparent;
    background-color: Transparent;
    position: relative;
    height: 35px;
    width: 97px;
    top: 3px;
    font-size: 40px;
    opacity: .6;
}
.opaque
{
    opacity: 1;
}
.title
{
text-align: left;
color: blue;
}
.large
{
    font-size: large;
    font-weight: bold;
}
.blue
{
    color: blue;
}
.padded
{
    padding: 10px;
}
.button
{
    background-color: Transparent;
    border: 0;
    outline: 0;
    opacity: .7;
    text-align: left;
    

}

.center
{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}


/*clases for keyboard */
.keyboard
{
    font-size:30px;
    background-color: white;
    opacity: 0.7;
}
.tuner
{
    width: 4%;
    font-size:30px;
    background-color: white;
    opacity: 0.6;
}
.edit
{
    font-size:30px;
    background-color: white;
    opacity: 0.7;
    border-width: 15px;
    outline: none;
}
.editPeriod
{
    font-size:30px;
    background-color: red;
    opacity: 0.7;
    border-width: 15px;
    outline: none;
}

.keyboardPeriod
{
    font-size:30px;
    background-color: red;
    opacity: 0.7;
}
.pushed
{
    font-size:30px;
    background-color: white;
    opacity: 1;
}
.periodPushed
{
    font-size:30px;
    background-color: red;
    opacity: 1;
}
.left
{
    float: left;
}
.right
{
    float: right;
    color: #F5F5F5;
}
.positive
{
    color:green;
}
.negative
{
    color:red;
}
body
{
    background-image: url('marble for html.jpg');
    padding: 10px;
}
body
{
    background-image: url('marble for html.jpg');
    padding: 10px;
}


