/* ********** */
/* Basic CSS Reset */
/* ********** */
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    padding: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* ********** */
  /* Imported Fonts */
  /* ********** */
  @font-face {
    font-family: 'UnifrakturMaguntia Book';
    font-style: normal;
    font-weight: normal;
    src: url('/app/assets/UnifrakturMaguntia-Book.woff'), url('UnifrakturMaguntia-Book.woff') format('woff');
    }
  /* ********** */
  /* Styling */
  /* ********** */
  body {
    background-image: url('/marble\ for\ html.jpg');
  }
  header{
    text-align: center;
    font-family:'UnifrakturMaguntia Book';
    font-weight:normal;
    font-size: 1.6em;
    color: #ad7aaa;
    text-shadow: 2px 1.6px black
  }
  main {
    
  }
  button {
    cursor: pointer;
    margin: .5em .8em .5em 0em;
    padding: .1em .2em;
    min-width: 6.5em;
    border: 1px solid black;
    border-radius: 1em;
  }
  #scale-generator-container {
    margin: 1.5em ;
  }
  #scale-data-inputs-container{
      width: 30%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
  }
  .scale-generator-item {
    padding: .2em;
  }
  .scale-generator-input{
    min-width: 10em;
    max-width: 10em;
  }

  #generate-scale-btn{
    padding: .03em 1em;
    background-color: #ffffff
  }

  /* todo: keyboards not centered, learn why and fix */
  #keyboard-parent-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
  }
  .keyboard-container {
   margin: auto;
   margin-bottom: 2em;
   width: 50%;
   border: 1px solid black
  }
  .keyboard-key {
  }
  .keyboard-key-hidden {
    display: none;
  }