/* ********** */
/* Basic CSS Reset */
/* ********** */
*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* ********** */
  /* Imported Fonts */
  /* ********** */
  @font-face {
    font-family: 'UnifrakturMaguntia Book';
    font-style: normal;
    font-weight: normal;
    src: url('/app/assets/UnifrakturMaguntia-Book.woff'), url('UnifrakturMaguntia-Book.woff') format('woff');
    }
  /* ********** */
  /* Styling */
  /* ********** */
  body {
    background-image: url('/marble\ for\ html.jpg');
  }
  header{
    text-align: center;
    font-weight:normal;
    font-size: 1.6em;
    color: #ad7aaa;
    text-shadow: 2px 1.6px black
  }
  .title, .subtitle {
    font-family:'UnifrakturMaguntia Book';
  }
  button {
    cursor: pointer;
    padding: .1em .2em;
    min-width: 6.5em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #ffffff
  }
  #main {
    margin-bottom: 5rem;
  }
  #scale-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 1.5em ;
  }
  
  .scale-data-inputs-container{
    display: flex;
  }
  
  .scale-generator-item {
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 0;
  }
 .scale-input {
    height: 1.5rem;
  }

  .scale-btn{
    padding: .03em 1em;
  }

  /* todo: keyboards not centered, learn why and fix */
  #keyboards-wrapper {

  }


/* ********** */
/* Keyboard */
/* ********** */
.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  margin: 0 auto;
  pointer-events: auto;
  max-width: 70vw;
  width: 80%;
  background-color: #fdffbb;
  border: 3px solid black;
  border-color: #425176;
  border-radius: 25px;
}
.keys-container {
  padding: 0 .5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  grid-column: 1/-1;
  justify-items: center;
}
.key-container-show {
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.key-container-hidden,
.modifier-sustain-hidden,
.modifier-detune-hidden,
.modifier-ratio-hidden {
  display: none;
}
.modifier-sustain-show,
.modifier-detune-show,
.modifier-ratio-show {
  display: flex;
  margin-bottom: .5rem
}

.keyboard-key {
  margin: .72em 0;
  max-width: .8em;
}
.scale-degree-modifier-label {
  font-size: .9rem;
    align-self: center;
    padding-right: .5rem;
}
.scale-degree-modifiers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detune-scale-degree{
  width: 3rem;
}

.modifier-ratio-show{
  display: flex;
}
.numerator-ratio-scale-degree, 
.denominator-ratio-scale-degree {
  width: 2.5rem;
}

/* ********** */
/* Keyboard Nav's */
/* ********** */
.keyboard-top-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4vw, 2fr));
  padding: 1rem;
  min-height: 2.5rem;
  grid-column: 1/-1;

  background-color: #ffff00;
  border-radius: 22px 22px 0 0;
  border-bottom: 1px solid black;
  
}
.keyboard-top-nav-items {
  display: flex;
}

.top-nav-btn {
  padding: .3rem 1.1rem;
}
#add-octave-btn {
  margin-right: 1rem;
}
.keys-edit-nav {
  display: flex;
  justify-content: center;
    align-items: center;
}
.edit-keys-option-container {
  margin: 0 1rem 0 0;
}
.edit-keys-option, .edit-keys-option-label{
  margin-right: .4rem;
  font-size: .92rem;
}



.keyboard-side-menu-container{
  grid-column: 7/8 ;
}


/* ********** */
/* Media Styles */
/* ********** */
@media (min-width: 63em) {
  .keys-container {
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  }
}
@media (max-width: 63em) {
  .keys-container {
    grid-template-columns: repeat(auto-fit, minmax(15vw, .5fr));
  }
}
@media (max-width: 42em) {
  .keys-container {
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  }
}
@media (max-width: 28em) {
  .keys-container {
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
  }
}

/* top nav key edit options */
#sustain-edit-label, #detune-edit-label {
  border: 1px solid black;
  border-radius: 1em;
}
#sustain-edit-label{
  padding: .2rem .3rem;
  border: .3em solid #005eaf;
  background-color: white;
}
#detune-edit-label {
  padding: .3rem .7rem;
  background-color: #b1ff00;
}
#ratio-edit-label {
  color: #ca0241;
  font-weight: bold;
}
/* key edit modes */
.sustain-mode{
  margin: .5em 0;
  border: .3em solid #005eaf;
}
.detune-mode{
  background-color: #b1ff00;

}
.ratio-mode{
  color: #ca0241;
  font-weight: bold;
}



